[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyodbc = "*"
django-pyodbc-azure = "*"
pipenv-to-requirements = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.6"
