<!DOCTYPE html>
<html>
<head>
	<title>Sample Project Report</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
	<h1 style="text-align:center; margin: 20px;"> 
		Sample Projects Report 
	</h1>

	<iframe width="100" height="541.25" src="https://app.powerbi.com/view?r=eyJrIjoiYWIwMmFiNmUtYWFjYi00YWVkLWE0M2EtYTFkNmNmZDUxZjg2IiwidCI6IjdiZGY2MmY0LTYzOGEtNDBhNi1iYTIxLWVhZmU1NGRkM2QyOCIsImMiOjl9" frameborder="0" allowFullScreen="true">	
	</iframe>
</body>
</html>

